nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

nav li a {
    color: white;
}

nav li a:hover {
    text-decoration: none;
    color: #c3c3c3;
}